body {
  font-family: Arial, sans-serif;
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 10px;
}

h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  color: #555;
}


#map {
  height: 85vh;
  width: 100%;
}
